<div class="panel panel-default">
  
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <h3 class="panel-title">{{$ctrl.user.fullName}}</h3>
      </div>
      <div class="col-md-6 col-xs-6 user-actions">
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-default" aria-label="Edit user"
                  ng-click="$ctrl.onEdit({user: $ctrl.user})">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default" aria-label="Delete user"
                  ng-click="$ctrl.deleteUser()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <img ng-src="{{$ctrl.user.avatarUrl}}" alt="{{$ctrl.user.fullName}}" class="img-circle">
      </div>
      <div class="col-md-9 col-xs-9">
        <table class="table table-usr-information">
          <tbody>
            <tr>
              <td>Дата рождения</td>
              <td>{{$ctrl.user.birthdate}}</td>
            </tr>
            <tr>
              <td>Пол</td>
              <td>{{$ctrl.user.gender}}</td>
            </tr>
            <tr>
              <td>Адрес</td>
              <td>{{$ctrl.user.address}}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>
                <a href="mailto:{{usr.email}}">{{$ctrl.user.email}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</div>